<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>header</key>
		<string>逻辑处理</string>
		<key>demos</key>
		<array>
			<dict>
				<key>targetControllerClass</key>
				<string>JSAppsTableController</string>
				<key>detail</key>
				<string>自定义Operation,模拟图片下载</string>
			</dict>
			<dict>
				<key>targetControllerClass</key>
				<string>JSEmieViewController</string>
				<key>detail</key>
				<string>摇奖机Demo</string>
			</dict>
			<dict>
				<key>targetControllerClass</key>
				<string>JSHeaderViewController</string>
				<key>detail</key>
				<string>自定义顶部视图1-随着滚动顶部视图变化(下拉放大,上拉平移)</string>
			</dict>
			<dict>
				<key>targetControllerClass</key>
				<string>JSHeadViewController</string>
				<key>detail</key>
				<string>自定义顶部视图2-随着滚动顶部视图变化(下拉放大,上拉平移)</string>
			</dict>
			<dict>
				<key>targetControllerClass</key>
				<string>JSViewController</string>
				<key>detail</key>
				<string>TableView实现二级联动</string>
			</dict>
			<dict>
				<key>targetControllerClass</key>
				<string>JSLoopRootViewController</string>
				<key>detail</key>
				<string>无限轮播器,支持自动轮播,包含PageControl</string>
			</dict>
			<dict>
				<key>targetControllerClass</key>
				<string>JSLukyViewController</string>
				<key>detail</key>
				<string>幸运转盘</string>
			</dict>
			<dict>
				<key>targetControllerClass</key>
				<string>JSDrawingBoardViewController</string>
				<key>detail</key>
				<string>小画板</string>
			</dict>
			<dict>
				<key>targetControllerClass</key>
				<string>JSGestureViewController</string>
				<key>detail</key>
				<string>模仿手势解锁</string>
			</dict>
			<dict>
				<key>targetControllerClass</key>
				<string>JSClockViewController</string>
				<key>detail</key>
				<string>模拟时钟表盘</string>
			</dict>
			<dict>
				<key>targetControllerClass</key>
				<string>JSSparkViewController</string>
				<key>detail</key>
				<string>跟随手指移动特效</string>
			</dict>
			<dict>
				<key>targetControllerClass</key>
				<string>JSKeyboardViewController</string>
				<key>detail</key>
				<string>使用TextField和PickerView演示键盘处理</string>
			</dict>
			<dict>
				<key>targetControllerClass</key>
				<string>JSModelsTableViewController</string>
				<key>detail</key>
				<string>模型嵌套(仿QQ好友列表样式)</string>
			</dict>
			<dict>
				<key>targetControllerClass</key>
				<string>JSNewsHomeController</string>
				<key>detail</key>
				<string>模仿网易新闻首页(待更新)</string>
			</dict>
			<dict>
				<key>targetControllerClass</key>
				<string>JSWebViewController</string>
				<key>detail</key>
				<string>演示OC与Javascript交互</string>
			</dict>
			<dict>
				<key>targetControllerClass</key>
				<string></string>
				<key>detail</key>
				<string>自定义下拉刷新工具类</string>
			</dict>
			<dict>
				<key>targetControllerClass</key>
				<string></string>
				<key>detail</key>
				<string>demo</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>header</key>
		<string>视图搭建</string>
		<key>demos</key>
		<array>
			<dict>
				<key>targetControllerClass</key>
				<string>JSSearchTableViewController</string>
				<key>detail</key>
				<string>演示搜索栏使用</string>
			</dict>
			<dict>
				<key>targetControllerClass</key>
				<string></string>
				<key>detail</key>
				<string>地图</string>
			</dict>
			<dict>
				<key>targetControllerClass</key>
				<string></string>
				<key>detail</key>
				<string>demo</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>header</key>
		<string>多媒体类</string>
		<key>demos</key>
		<array>
			<dict>
				<key>targetControllerClass</key>
				<string>JSMusicViewController</string>
				<key>detail</key>
				<string>仿QQ音乐播放器(播放本地音乐)--待更新</string>
			</dict>
			<dict>
				<key>targetControllerClass</key>
				<string></string>
				<key>detail</key>
				<string>demo</string>
			</dict>
		</array>
	</dict>
</array>
</plist>
