<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>header</key>
		<string>逻辑处理</string>
		<key>demos</key>
		<array>
			<dict>
				<key>targetControllerClass</key>
				<string>JSAppsTableController</string>
				<key>detail</key>
				<string>自定义Operation,模拟图片下载</string>
			</dict>
			<dict>
				<key>targetControllerClass</key>
				<string>JSEmieViewController</string>
				<key>detail</key>
				<string>摇奖机Demo</string>
			</dict>
			<dict>
				<key>targetControllerClass</key>
				<string>JSHeaderViewController</string>
				<key>detail</key>
				<string>自定义顶部视图1-随着滚动顶部视图变化(下拉放大,上拉平移)</string>
			</dict>
			<dict>
				<key>targetControllerClass</key>
				<string>JSHeadViewController</string>
				<key>detail</key>
				<string>自定义顶部视图2-随着滚动顶部视图变化(下拉放大,上拉平移)</string>
			</dict>
			<dict>
				<key>targetControllerClass</key>
				<string>JSViewController</string>
				<key>detail</key>
				<string>TableView实现二级联动</string>
			</dict>
			<dict>
				<key>targetControllerClass</key>
				<string>JSLoopRootViewController</string>
				<key>detail</key>
				<string>无限轮播器,支持自动轮播,包含PageControl</string>
			</dict>
			<dict>
				<key>targetControllerClass</key>
				<string>JSLukyViewController</string>
				<key>detail</key>
				<string>幸运转盘</string>
			</dict>
			<dict>
				<key>targetControllerClass</key>
				<string>JSDrawingBoardViewController</string>
				<key>detail</key>
				<string>小画板</string>
			</dict>
			<dict>
				<key>targetControllerClass</key>
				<string>JSGestureViewController</string>
				<key>detail</key>
				<string>模仿手势解锁</string>
			</dict>
			<dict>
				<key>targetControllerClass</key>
				<string>JSClockViewController</string>
				<key>detail</key>
				<string>模拟时钟表盘</string>
			</dict>
			<dict>
				<key>targetControllerClass</key>
				<string>JSSparkViewController</string>
				<key>detail</key>
				<string>跟随手指移动特效</string>
			</dict>
			<dict>
				<key>targetControllerClass</key>
				<string>JSKeyboardViewController</string>
				<key>detail</key>
				<string>使用TextField和PickerView演示键盘处理</string>
			</dict>
			<dict>
				<key>targetControllerClass</key>
				<string>JSModelsTableViewController</string>
				<key>detail</key>
				<string>模型嵌套(仿QQ好友列表样式)</string>
			</dict>
			<dict>
				<key>targetControllerClass</key>
				<string>JSBaseViewController</string>
				<key>detail</key>
				<string>模仿网易新闻首页</string>
			</dict>
			<dict>
				<key>targetControllerClass</key>
				<string>JSWebViewController</string>
				<key>detail</key>
				<string>演示OC与Javascript交互</string>
			</dict>
			<dict>
				<key>targetControllerClass</key>
				<string></string>
				<key>detail</key>
				<string>自定义下拉刷新工具类</string>
			</dict>
			<dict>
				<key>targetControllerClass</key>
				<string>JSNotificationViewController</string>
				<key>detail</key>
				<string>推送通知</string>
			</dict>
			<dict>
				<key>targetControllerClass</key>
				<string>JSBiometricViewController</string>
				<key>detail</key>
				<string>指纹识别使用</string>
			</dict>
			<dict>
				<key>targetControllerClass</key>
				<string>JSMobViewController</string>
				<key>detail</key>
				<string>短信验证</string>
			</dict>
			<dict>
				<key>targetControllerClass</key>
				<string>JSQRCodeViewController</string>
				<key>detail</key>
				<string>生成二维码(CIFilter)</string>
			</dict>
			<dict>
				<key>targetControllerClass</key>
				<string>JSChangeSkinViewController</string>
				<key>detail</key>
				<string>换肤(运行时)</string>
			</dict>
			<dict>
				<key>targetControllerClass</key>
				<string>JSWKWebViewController</string>
				<key>detail</key>
				<string>OS与JS交互(WKWebView)</string>
			</dict>
			<dict>
				<key>targetControllerClass</key>
				<string></string>
				<key>detail</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>header</key>
		<string>视图搭建</string>
		<key>demos</key>
		<array>
			<dict>
				<key>targetControllerClass</key>
				<string>JSSearchTableViewController</string>
				<key>detail</key>
				<string>演示搜索栏使用</string>
			</dict>
			<dict>
				<key>targetControllerClass</key>
				<string>JSMapViewController</string>
				<key>detail</key>
				<string>演示地图使用,实现定位、切换地图类型、放大、缩小; 坐标转换、插入/移除大头针、内置地图/自定义地图导航</string>
			</dict>
			<dict>
				<key>targetControllerClass</key>
				<string>JSBaiduMapViewController</string>
				<key>detail</key>
				<string>百度地图使用演练</string>
			</dict>
			<dict>
				<key>targetControllerClass</key>
				<string>JSCalendarViewController</string>
				<key>detail</key>
				<string>FSCalendar体验</string>
			</dict>
			<dict>
				<key>targetControllerClass</key>
				<string>JSSystemSharedViewController</string>
				<key>detail</key>
				<string>使用SLComposeViewController进行新浪分享</string>
			</dict>
			<dict>
				<key>targetControllerClass</key>
				<string>JSSocialViewController</string>
				<key>detail</key>
				<string>友盟分享、SSO登录、第三方登录(Sina)</string>
			</dict>
			<dict>
				<key>targetControllerClass</key>
				<string>JSContactViewController</string>
				<key>detail</key>
				<string>ContactUI使用,选中联系人后,回调部分联系人信息</string>
			</dict>
			<dict>
				<key>targetControllerClass</key>
				<string>JSTargetViewController</string>
				<key>detail</key>
				<string>演示控件能否接收到事件</string>
			</dict>
			<dict>
				<key>targetControllerClass</key>
				<string>JSPopoverViewController</string>
				<key>detail</key>
				<string>Popover展示</string>
			</dict>
			<dict>
				<key>targetControllerClass</key>
				<string>JSLoginViewController</string>
				<key>detail</key>
				<string>用户登录界面,预先布局好控件,通过显示隐藏控件的效果,实现账号选择列表的弹出和收起效果</string>
			</dict>
			<dict>
				<key>targetControllerClass</key>
				<string>JSPopoverLoginViewController</string>
				<key>detail</key>
				<string>用户登录界面, Popover的使用(自定义视图 , Popover外侧视图交互的设置等),通过设置Modal展示样式为Popover实现账号列表的弹出和收起</string>
			</dict>
			<dict>
				<key>targetControllerClass</key>
				<string>JSBlurViewController</string>
				<key>detail</key>
				<string>iOS 8新API视觉视效(毛玻璃,内容鲜活)演示</string>
			</dict>
			<dict>
				<key>targetControllerClass</key>
				<string>JSTextKitDemoViewController</string>
				<key>detail</key>
				<string>TextKit使用Demo</string>
			</dict>
			<dict>
				<key>targetControllerClass</key>
				<string></string>
				<key>detail</key>
				<string>demo</string>
			</dict>
			<dict>
				<key>targetControllerClass</key>
				<string></string>
				<key>detail</key>
				<string>demo</string>
			</dict>
			<dict>
				<key>targetControllerClass</key>
				<string></string>
				<key>detail</key>
				<string>demo</string>
			</dict>
			<dict>
				<key>targetControllerClass</key>
				<string></string>
				<key>detail</key>
				<string>demo</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>header</key>
		<string>多媒体类</string>
		<key>demos</key>
		<array>
			<dict>
				<key>targetControllerClass</key>
				<string>JSPlaySoundsViewController</string>
				<key>detail</key>
				<string>演示自定义音效的播放(AVFoundation使用)</string>
			</dict>
			<dict>
				<key>targetControllerClass</key>
				<string>JSPlayMusicDemoViewController</string>
				<key>detail</key>
				<string>播放音乐</string>
			</dict>
			<dict>
				<key>targetControllerClass</key>
				<string></string>
				<key>detail</key>
				<string>demo</string>
			</dict>
			<dict>
				<key>targetControllerClass</key>
				<string></string>
				<key>detail</key>
				<string>demo</string>
			</dict>
			<dict>
				<key>targetControllerClass</key>
				<string></string>
				<key>detail</key>
				<string>demo</string>
			</dict>
			<dict>
				<key>targetControllerClass</key>
				<string></string>
				<key>detail</key>
				<string>demo</string>
			</dict>
			<dict>
				<key>targetControllerClass</key>
				<string></string>
				<key>detail</key>
				<string>demo</string>
			</dict>
			<dict>
				<key>targetControllerClass</key>
				<string></string>
				<key>detail</key>
				<string>demo</string>
			</dict>
			<dict>
				<key>targetControllerClass</key>
				<string></string>
				<key>detail</key>
				<string>demo</string>
			</dict>
			<dict>
				<key>targetControllerClass</key>
				<string></string>
				<key>detail</key>
				<string>demo</string>
			</dict>
			<dict>
				<key>targetControllerClass</key>
				<string>JSMusicViewController</string>
				<key>detail</key>
				<string>仿QQ音乐播放器(播放本地音乐)--待更新</string>
			</dict>
		</array>
	</dict>
</array>
</plist>
